<div class="section parallax-container">
  <div class="parallax"><img src="<%= image_url('parallax.jpg') %>" alt=""></div>
    <h3 class="header center white-text">Kuy Belajar Bareng!</h3>
    <div class="row center white-text">
      <h5 class="header col s12 m12 light">Belajar Apapun Lewat Screencast Bareng Kita! </h5>
      <h6 class="header col s12 m12 light">Kuy Gausah Banyak Mikir, Gabung Sekarang.. </h6>
      <div class="col col-parallax">
        <a class="btn-large z-depth-3 waves-effect waves-light blue darken-1" href="/parts"><i class="material-icons left">directions_run</i>Kuy Gabung!</a>
      </div>
      <div class="col col-parallax">
        <a class="btn-large z-depth-3 waves-effect waves-light blue darken-1" href="/parts"><i class="material-icons left">ondemand_video</i> Lihat Course</a>
      </div>
    </div>
</div>
