<div class="section container">
  <ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle red">videocam</i>
      <span class="title"><i class="material-icons tiny left">local_cafe</i>Rails 5 Forum - Part 7</span>
      <p class="text-small">
        #233 Jan 08 2018
      </p>
      <p class="text-detail">Pada episode ini, kita akan membuat sebuah Policy untuk hak akses sederhana</p>
      <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">videocam</i>
      <span class="title"><i class="material-icons tiny left">local_cafe</i>Rails 5 Forum - Part 6</span>
      <p class="text-small">
        #233 Jan 08 2018
      </p>
      <p class="text-detail">Pada episode ini, kita akan membuat sebuah Policy untuk hak akses sederhana</p>
      <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">videocam</i>
      <span class="title"><i class="material-icons tiny left">local_cafe</i>Rails 5 Forum - Part 5</span>
      <p class="text-small">
        #233 Jan 08 2018
      </p>
      <p class="text-detail">Pada episode ini, kita akan membuat sebuah Policy untuk hak akses sederhana</p>
      <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a>
    </li>
        <li class="collection-item avatar">
      <i class="material-icons circle red">videocam</i>
      <span class="title"><i class="material-icons tiny left">local_cafe</i>Rails 5 Forum - Part 7</span>
      <p class="text-small">
        #233 Jan 08 2018
      </p>
      <p class="text-detail">Pada episode ini, kita akan membuat sebuah Policy untuk hak akses sederhana</p>
      <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">videocam</i>
      <span class="title"><i class="material-icons tiny left">local_cafe</i>Rails 5 Forum - Part 6</span>
      <p class="text-small">
        #233 Jan 08 2018
      </p>
      <p class="text-detail">Pada episode ini, kita akan membuat sebuah Policy untuk hak akses sederhana</p>
      <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">videocam</i>
      <span class="title"><i class="material-icons tiny left">local_cafe</i>Rails 5 Forum - Part 5</span>
      <p class="text-small">
        #233 Jan 08 2018
      </p>
      <p class="text-detail">Pada episode ini, kita akan membuat sebuah Policy untuk hak akses sederhana</p>
      <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a>
    </li>
        <li class="collection-item avatar">
      <i class="material-icons circle red">videocam</i>
      <span class="title"><i class="material-icons tiny left">local_cafe</i>Rails 5 Forum - Part 7</span>
      <p class="text-small">
        #233 Jan 08 2018
      </p>
      <p class="text-detail">Pada episode ini, kita akan membuat sebuah Policy untuk hak akses sederhana</p>
      <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">videocam</i>
      <span class="title"><i class="material-icons tiny left">local_cafe</i>Rails 5 Forum - Part 6</span>
      <p class="text-small">
        #233 Jan 08 2018
      </p>
      <p class="text-detail">Pada episode ini, kita akan membuat sebuah Policy untuk hak akses sederhana</p>
      <a href="#!" class="secondary-content"><i class="material-icons">play_arrow</i></a>
    </li>
  </ul>
</div>
