<%= render('home/layouts/parallax') %>

<div class="section container">
   <!--Icon Section-->
   <div class="row">
      <div class="col s12 m4">
         <div class="icon-block">
            <h2 class="center light-blue-text">
               <i class="material-icons">import_contacts</i>
            </h2>
            <h5 class="center">Learn </h5>

         </div>
      </div>
      <div class="col s12 m4">
         <div class="icon-block">
            <h2 class="center light-blue-text">
               <i class="material-icons">brush</i>
            </h2>
            <h5 class="center">Code </h5>

         </div>
      </div>
      <div class="col s12 m4">
         <div class="icon-block">
            <h2 class="center light-blue-text">
               <i class="material-icons">settings</i>
            </h2>
            <h5 class="center">Build </h5>

         </div>
      </div>
   </div>
</div>
