<%= render('courses/layouts/buttonfly') %>

<%= render('courses/layouts/parallax') %>

<div class="section container">
  <div class="row center-cols center-align">
    <%= render('courses/layouts/main', courses: @courses) %>
  </div>
</div>

