<%= render("courses/layouts/parallax-show") %>
<div class="section">
  <div class="row">
    <div class="col s10 offset-s1 z-depth-4">
      <div class="col s12 m4">
      <div class="col s12">
        <h5>Deskripsi : </h5>
        <p><%= @course.desc %></p>
      </div>
        <% if false %>
        <div class="collection">
          <h5 class="collection-header center">Daftar</h5>
          <div class="divider"></div>
          <h1 class="header center">:'(</h1>
        </div>
        <% else %>
        <div class="collection">
          <h5 class="collection-header center">Daftar</h5>
          <div class="divider"></div>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#1 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#2 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#3 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#4 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#5 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#6 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#7 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#8 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#9 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#0 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#11 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#12 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#13 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#14 - Setup Project</a>
          <a href="#!" class="collection-item"><span class="red new badge"></span>#15 - Setup Project</a>
        </div>
        <% end %>
      </div>
      <div class="col s12 m8">
        <%= render("layouts/comment", course: @course) %>
      </div>
    </div>


  </div>
</div>
