<div class="section parallax-container">
  <div class="parallax"><img src="<%= image_url('parallax.jpg') %>" alt=""></div>
    <h1 class="header center white-text">401</h1>
    <div class="row center white-text">
      <h4 class="header col s12 m12 light">Putar Balik Ya! </h4>
      <div class="col col-parallax">
        <a class="btn-large z-depth-3 waves-effect waves-light blue darken-1" onclick="goBack()"><i class="material-icons left">directions_run</i> Pegi Pegi Hus!</a>
      </div>
      <div class="col col-parallax">
        <a class="btn-large z-depth-3 waves-effect waves-light blue darken-1" href="<%= courses_path %>"><i class="material-icons left">ondemand_video</i> Lihat Course</a>
      </div>
    </div>
</div>
