@import "course";
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.parallax-container {
  height: 410px;
}

#parallax-show {
  height: 250px;
}

html {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card-image{
  height:200px;
}

.img-asu {
  padding: 50px;
}

.text-small {
  font-size: 10px;
}

.text-error {
  font-size: 150px;
}

.text-error-small {
  font-size: 40px;
}

.text-detail {
  font-size: 12px;
}

.parallax img {
  display: inherit !important;
}

.navbar-fixed { z-index: 9999; }

.agendador-green {
  background-color: #039be5 !important;
}

