<footer class="page-footer light-blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Tentang</h5>
        <p class="grey-text text-lighten-4">
          Cetolart, ialah sebuah web sekaligus wadah untuk belajar dan mengajar
          melalui Screencast (Video) berbahasa Indonesia.
        </p>
        <p>
          © 2018 Cetolart. All right reserved.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/melvinchng/"><i class="fa fa-github"></i> Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/realmelvinchng"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
          <li><a class="grey-text text-lighten-3" href="https://plus.google.com/+YiCongChng"><i class="fa fa-google-plus-official"></i> Google+</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright center">
    <div class="container">
      Made with <span class="material-icons">favorite</span> from Bekasi
    </div>
  </div>
</footer>
